
.ProfileImage{
    width: 200px;
    height: 200px;
    margin-left: 10%;
}
.Person{
    display: flex;
    height: 50px;
    margin: 10px;
    background: rgb(100, 120, 150);
}

.Info{
    font-size: 5vh;
}

.Buttons {
	display: block;
    margin-left: 10%;
    margin-top: 10%;
    align-content: center;
}