
@font-face {
	font-family: MyriadPro;
    src: url('./MyriadPro.otf');
    font-weight: bold;
    font-display: fallback;
}

body, html {
  height: 100vh;
  margin: 0;
  background-color: black;
}

body {
    display: flex;
}

.Right{
  background-color: white;
  justify-self: right;
  width:50%;
  height:100vh;
}

.Left{
  width:50%;
  height:100vh;
  justify-self: left;
}

.Button {
    font-size: calc(2vh + 10px);
    color: #c0c0c0;
    border: unset;
    background: unset;
    text-align: left;
    font-family: MyriadPro;
    padding:0;
    text-decoration: none;
    padding: 5pt 5pt;
    border-bottom: transparent solid 2px
}
.Button:hover {
    text-decoration: none;
    border-bottom: rgb(100, 120, 150) solid 2px
}

.Paragraph {
    font-family: MyriadPro;
    line-height: 1.2;
    text-align: left;
    margin-left: 10vh;
    color: white;
    font-size: 14vh;
}